            body {
                background-color: #757575;
            }

            div:first-of-type {
                display: flex;
                justify-content: center;
                align-items: baseline;
                margin-top: 11%;
            }

            label {
                padding: 10px;
                font-size: 20px;
                margin-right: 10px;
            }

            select {
                margin-right: 30px;
                border: 1px solid #ddd;
                outline: none;
                border-radius: 6px;
                padding: 5px;
            }